<div class="col">
  <div class="card">
    <img [src]="user.image" class="card-img-top" [alt]="user.image" />
    <div class="card-body">
      @if (user.role == "admin") {
      <p class="card-title text-center text-bg-danger text-light">
        {{ user.role }}
      </p>
      } @else if (user.role == "user") {
      <p class="card-title text-center text-bg-success text-light">
        {{ user.role }}
      </p>
      } @else if (user.role == "moderator") {
      <p class="card-title text-center text-bg-warning text-light">
        {{ user.role }}
      </p>
      }
      <h3 class="card-title">{{ user.firstName }} {{ user.lastName }}</h3>
      <p class="card-title">{{ user.email }}</p>
      <p class="card-title">{{ user.phone }}</p>
      <p class="card-title">{{ user.birthDate | date : "mediumDate" }}</p>
    </div>
  </div>
</div>
